@charset "UTF-8";
html{100%;}

*{ margin: 0;
  padding: 0;
}

body
{ font: normal .80em open sans;
  background: #F0EFE2 url(abstract.jpg) repeat;
  color: #777;
  margin: auto;}

.wrapper{ width:430px
}
div.a {
  word-wrap: normal;
  width:400px;}



h1, h2, h3, h4, h5, h6 
{ font: normal 175% sans-serif;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 50%}

h1 
{ font: normal 200% oswald;
}

h2
{ font: normal 175% open sans;
  color: #1293EE;}

h4.strong{
	color:black;
	font:150% open sans;
}
h3.strong{
	font-weight: bold;
	font:oswald;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% open sans;
  color: #1293EE;}

h5, h6
{ font: italic 125% open sans;
  padding: 0 0 15px 0;
  color: #000;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #FD5BFF;}

a:hover
{ text-decoration: none;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: #1D1D1D url(audio.jpg) repeat;
  height: 240px;
  max-width:2000px;}

#logo
{ width: 825px;
  position: relative;
  height: 168px;}

#logo #logo_text 
{ position: absolute; 
  top: 20px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% oswald;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #1293EE;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #DDD;}

#menubar
{ width: 1065px;
  height: 72px;
  padding: 0;
  background: #0f52ba ;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;
}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% open sans;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: #0D66A5;}

#site_content
{ max-width: 1000px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF;} 

.sidebar
{ float: right;
  width: 19%;
  padding: 0 15px 20px 15px;}

.sidebar ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  position: fixed;
  height: 100%;
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;
} 

.sidebar li a.selected
{ color: #444;
  text-decoration: none;} 

#content
{ text-align: left;
  width: 595px;
  padding: 0;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 1065px;
  font: normal 100% open sans;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #0f52ba repeat;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: underline;}

#colours
{ height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;}  

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% open sans; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% open sans; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #1293EE; 
  color: #FFF;}
img {
  float: right;
}
.form_settings textarea, .form_settings select
{ font: 100% open sans; 
  width: 299px;}

.form_settings select
{ width: 310px;}

#main-content{
 float:left;
 width:66%;
 margin-right:1%;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}


/* On screens that are less than 1000px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 1000px) {

.sidebar{
    text-align: center;
    float: none;
  }
img {
  float: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
    font-size: 1em;
	letter-spacing: .2em;
	flex: 1 1 50%;
}

flex-container{
 display:flex;
 background;#fff;
 flex-wrap:wrap;
}
.box{height:auto;
min-width:200px;
}

#footer
{ width: 1065px;
  font: normal 100% open sans;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #0f52ba;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:0px 4px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:0px 4px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-ari3{font-size:24px;font-family:"open sans", Times, serif !important;;background-color:#ffffff;border-color:#ffffff;text-align:right;vertical-align:top}
.tg .tg-tm5k{font-size:24px;font-family:"open sans", Times, serif !important;;background-color:#ffffff;border-color:#ffffff;text-align:right;vertical-align:top}
.tg .tg-kly9{font-size:24px;font-family:"open sans", Times, serif !important;;background-color:#ffffff;border-color:#ffffff;text-align:right}

/* On screens that are less than 1000px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 900px) {
body
{ font: normal -.80em open sans;
  background: #F0EFE2 url(abstract.jpg) repeat;
  color: #777;
  margin: auto;}


#menubar
{ width: 760px;
  height: 150px;
  padding: 0;
  background: #0f52ba ;}

#site_content
{ width: 700px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF;} 
#footer
{ width: 760px;
  font: normal 100% open sans;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #0f52ba;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

/* On screens that are less than 1000px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 700px) {
.zoom {
  zoom:50%;
}






/* On screens that are less than 1000px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 600px) {
#menubar
{ width: 560px;
  height: 150px;
  padding: 0;
  background: #0f52ba ;} 

body
{ font: normal .80em open sans;
  background: #F0EFE2 url(abstract.jpg) repeat;
  color: #777;
  margin: auto;
overflow-x:hidden;}
	


ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;
  word-wrap: break-word;
  max-width: 400px;}

#site_content
{ width: 500px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF;} 

#footer
{ width: 560px;
  font: normal 100% open sans;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #0f52ba;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;}
/* On screens that are less than 1000px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 590px) {

#logo #logo_text 
{ max-width:420px
}


#menubar
{ width: 600px;
  height: 150px;
  padding: 0;
  background: #0f52ba ;}

#menubar
{ width: 460px;
  height: 150px;
  padding: 0;
  background: #0f52ba ;}

#site_content
{ width: 410px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF;} 

#footer
{ width: 470px;
  font: normal 100% open sans;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #0f52ba;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;}